@import 'ombra';
@import 'larghezza-colonne';
@import 'media-query';
@import 'palette-colori';

.intestazione-tabella
{
  background-color: $colore_intestazione;
}

.nome-comune, .marca, .prezzo, .quantità, .carrello
{
  padding-left: 2px;
  padding-right: 2px;
}

.nome-comune, .marca, .prezzo, .quantità, .carrello, .note
{
  text-align: center;
}

.terna
{
  width: 100%;
  @media screen and (min-width: $xl)
  {
    width: $un_terzo;
  }
  .nome-comune, .marca, .prezzo, .quantità, .carrello, .note
  {
    @media screen and (min-width: $md)
    {
      min-width: $un_sesto;
    }
  }
}

.riga
{
  .terna
  {
    @media screen and (min-width: $xl)
    {
      width: $un_mezzo;
    }
  }
}

.spazio-extra-intestazione
{
  display: none;
  @media screen and (min-width: $xl)
  {
    display: block;
    width: $un_terzo;
  }
}

.nome-comune, .marca, .prezzo
{
  width: $un_terzo;
}


.quantità, .carrello
{
  width: $un_quarto;
  @media screen and (min-width: $sm)
  {
    text-align: center;
    width: $un_terzo;
  }
}

.note
{
  text-align: center;
  width: $due_quarti;
  @media screen and (min-width: $sm)
  {
    width: $un_terzo;
  }
}

.pulsanti
{
  @media screen and (min-width: $xl)
  {
    width: $un_terzo;
  }

  @media screen and (min-width: $xl)
  {
    border-bottom: none!important;
  }
}
.contenitore-pulsanti
{
  @media screen and (min-width: $sm)
  {
    width: $due_quarti;
  }

  @media screen and (min-width: $lg)
  {
    width: $un_quarto;
  }

  @media screen and (min-width: $xl)
  {
    width: 100%;
  }
}

.riga
{
  @media screen and (min-width: $xl)
  {
    width: $due_terzi;
  }
}

.riga-intera
{
  @media screen and (min-width: $xl)
  {
    border-bottom: 1px solid #dee2e6;
  }
}

a
{
  .far, .fas
  {
    color: $colori_pulsanti;
  }
}

.ombra
{
  @include box-shadow(0px, 4px, $colore_ombra, 10px, -8px);
}

.pulsante-aggiungi
{
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  @include box-shadow(0px, 4px, $colore_ombra, 4px);
}

.spazio-extra
{
  min-height: 80px;
}
